<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="LandContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=land;Integrated Security=false;persist security info=True;;User ID=landuser;Password=land" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
  <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
    <providers>
      <clear />
      <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
    </providers>
  </roleManager>
  <membership defaultProvider="SimpleMembershipProvider">
    <providers>
      <clear />
      <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
    </providers>
  </membership>
  -->
</configuration>